.btn {
  width: 100%;
  min-height: 55px;
  padding: 15px 20px;
  border: none;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s opacity ease-in-out;

  &:hover {
    opacity: 0.4;
  }
}