@import "@values/Colors.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  background: rgba($color: $black, $alpha: 0.8);

  .navigation {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-left: 14px;
    }

    &__link {
      font-weight: 600;
      color: $white;
    }

    &__btn-lang {
      width: 30px;
      font-size: 16px;
      font-weight: 600;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: $white;
    }

    &__wrap {
      position: relative;
      display: flex;
      align-items: center;
    }
  }
}

.humburger {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: $white;
}

.navigation__link {
  transition: 0.2s color ease-in;
}

.navigation__link.active {
  color: $orange;
}

.navigation__right {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .wrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .humburger {
    display: none;
  }
}
