.header {
  display: flex;
  justify-content: space-between;

  .navigation {
    &__list {
      display: flex;
    }

    &__item {
      margin-left: 10px;
    }

    &__link {
      
    }
  }
}

.active {
  text-decoration: underline;
}