@import "@values/Colors.scss";

.cart-item {
  margin-top: 16px;
  display: flex;
  border: 1px solid $gray;
  overflow: hidden;

  &__description {
    display: flex;
    margin-top: 30px;
    margin-right: 14px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 100%;
    justify-content: space-between;
  }

  &__close {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .cart-item {
    &__description {
      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}
