.cart-item {
  margin-top: 40px;
  display: flex;
  border: 1px solid #fff;

  &__description {
    display: flex;
    margin: 30px;
    width: 100%;
    justify-content: space-between;
  }

  &__close {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
