.product {
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
  }
}

.discribe {
  margin-top: 12px;
  &__name {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }

  &__price {
    text-align: center;
    color: #fff;
  }
}

@media (max-width: 1610px) {
  .discribe {
    margin-left: 10px;
    margin-right: 10px;
  }
}
