* {
  color: #fff;
}

.cart {
  display: flex;

  &__products {
    width: 60%;
    // border: 1px solid red;
  }

  &__checkout {
    width: 40%;
    border: 1px solid red;
  }

  &__image {
    width: 240px;
  }
}
