.navMobile {
  background-color: #000;
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
  }
}
